include ../node_modules/bemto.jade/bemto

<!DOCTYPE html>
html(lang="ru")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title ВОДОПРОВОД И КАНАЛИЗАЦИЯ «ПОД КЛЮЧ»

  link(rel="icon" href="img/favicon.ico" type="image/x-icon")
  link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
  link(rel='apple-touch-icon', sizes='180x180', href='img/apple-touch-icon.png')
  link(rel='icon', type='image/png', sizes='32x32', href='img/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='16x16', href='img/favicon-16x16.png')
  //- link(rel='manifest', href='img/site.webmanifest')
  link(rel='mask-icon', href='img/safari-pinned-tab.svg', color='#5bbad5')
  meta(name='msapplication-TileColor', content='#da532c')
  meta(name='theme-color', content='#ffffff')



  //build:css css/all.css
  link(rel="stylesheet", href="node_modules/animate.css/animate.min.css")
  link(rel="stylesheet", href="tmp/index.css")
  //endbuild
body.page
  .loader.loader_active
    .loader__spinner
    .loader__text Загрузка
  .top
    .container
      .row
        +b.col._lg_4._md_4._sm_5._xs_6
          +b.logo
            +e.img
              img(src='img/logo.png')
            +e.text ПРОЕКТНО-СТРОИТЕЛЬНАЯ<br>КОМПАНИЯ
        +b.col._lg_4._lg-offset_4._md_5._md-offset_3._sm_7._xs_6
          +b.phone-grup 
            +e.phone 8 (863) 303-38-33
            +e.text Пн.- пт. с 9:00 до 18:00<br>Сб. с 10:00 до 16:00
          +b.callme Заказать звонок
  .header
    .container
      .offer 
        .offer__text.start-animate <span>Водопровод и канализация «под ключ» </span><br> в Ростове-на-Дону и Ростовской области
        .offer__action.order.start-animate(style="animation-delay: .2s") Получить бесплатную консультацию

  .froze
    .container
      .froze__container
        .froze__action ЗАПИШИТЕСЬ НА БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ СПЕЦИАЛИСТА ПО ОФОРМЛЕНИЮ ДОКУМЕНТОВ
        .froze__description Заполните форму, и специалист свяжется с Вами в течение 20 минут
        +b.form
          form.ajax
            input(placeholder='Введите Ваше имя' name='name').input.input_type_name
            input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
            input(type="hidden" name="order" value="ВК под ключ. Консультация по документам")
            input(type='submit' value='Получить консультацию по документам').form__btn


  .triggers
    .container
      .row
        +b.col._lg_4._md_4._sm_4._xs_6
          .triggers__items.start-animate
            img(src='img/triggers__img1.png').triggers__img
            .triggers__text Опыт работы<br>более 6 лет
        +b.col._lg_4._md_4._sm_4._xs_6
          .triggers__items(style="animation-delay: .2s").start-animate
            img(src='img/triggers__img2.png').triggers__img
            .triggers__text Гарантия 24 месяца<br>на монтажные работы
        +b.col._lg_4._md_4._sm_4._xs_6
          .triggers__items(style="animation-delay: .3s").start-animate
            img(src='img/triggers__img3.png').triggers__img
            .triggers__text Подключение<br>за 3 месяца
        +b.col._lg_4._md_4._sm_4._xs_6
          .triggers__items(style="animation-delay: .4s").start-animate
            img(src='img/triggers__img4.png').triggers__img
            .triggers__text Гарантия получения<br>лицевого счета
        +b.col._lg_4._md_4._sm_4._xs_6
          .triggers__items(style="animation-delay: .5s").start-animate
            img(src='img/triggers__img5.png').triggers__img
            .triggers__text Применяем<br>сертифицированные<br>материалы
        +b.col._lg_4._md_4._sm_4._xs_6
          .triggers__items(style="animation-delay: .6s").start-animate
            img(src='img/triggers__img6.png').triggers__img
            .triggers__text Цены ниже<br>среднерыночных<br> на 7-12%
  .container
    +b.title
      +e.wrap
        +e.text Этапы подключения
    +b.tabs
      +e.item
        +e.title
          +e.number 1
          |Сбор пакета документов
          +e.arrow
        +e.text
          ol
            li  Правоустанавливающие документы
            li
              | Топографическая съемка в масштабе 1:500 с указанием всем коммуникаций (наземных и подземных)
            li  Баланс водопотребления и водоотведения подключаемого объекта
            li  Ситуационный план
          //-+b.progress-bar(data-interest="10")
            +e.pace
              +e.interest 

      +e.item
        +e.title
          +e.number 2
          |Получение технических условий
          +e.arrow
        +e.text
          p Регламентированный срок получения технических условий и/или договора на подключение:
          ol
            li  Технические условия – 14 рабочих дней
            li  Договор на подключение – 20 рабочих дней
          p Технические условия являются бесплатными и выдаются при следующих условиях:
          ul
            li Абонент уже имеет лицевой счет (подабонента, колонки и т.п.);
            li
              | В исключительных случаях, когда водоканал не имеет возможности предоставить ближайшую точку подключения, но есть возможность подключиться с условием строительства магистральной сети за счет заказчика.
          p
            | Договор на подключение оплачивается в кассу Водоканала и рассчитывается, исходя из максимальной нагрузки водопотребления (водоотведения)
          p Цена:
          ul
            li Водоснабжение — 39 882 руб./куб.м. в сутки без НДС
            li Водоотведение — 59 166 руб за куб.м в сутки без НДС
          p Например (частный дом водоснабжение):
          p 0,84 * 39882 = 33500 (без НДС) + 18% = 39531 руб
          //-+b.progress-bar(data-interest="24")
            +e.pace
              +e.interest 

      +e.item
        +e.title
          +e.number 3
          |Проектирование и согласование
          +e.arrow
        +e.text
          p Процесс проектирования включает в себя:
          ul
            li Обследование объекта инженером-проектировщиком
            li
              | Создание полного пакета чертежей стадии РД (общие данные, план сетей, профиль, таблица колодцев, спецификация)
            li
              | Согласования со всеми эксплуатирующими инстанциями города, а также администрацией, департаментом автодорог, департаментом окружающей среды и департаментом архитектуры. Таким образом согласования с более 15 организациями.
          //-+b.progress-bar(data-interest="24")
            +e.pace
              +e.interest 

      +e.item
        +e.title
          +e.number 4
          |Разрешение на разрытия
          +e.arrow
         +e.text
          p
            | Для того, чтобы осуществлять строительство необходимо получить разрешение от двух инстанций:
          ul
            li ГИБДД – согласовать схему дорожного движения
            li
             | Управление благоустройством администрации города – получение ордера на разрытие (по закрытии которого мы получаем справку о благоустройстве, как неотъемлемый документ при сдачи сети в Водоканал)
          //-+b.progress-bar(data-interest="58")
            +e.pace
              +e.interest 

      +e.item
        +e.title
          +e.number 5
          |Строительно-монтажные работы
          +e.arrow
        +e.text
          p
            | Прокладка сети осуществляется открытым или закрытым (методом ГНБ, прокола) способом.
          p Комплексные строительно-монтажные работы включают в себя:
          ul
            li Строительство колодца (при необходимости)
            li
              | Обвязка колодца (врезка, установка запорной арматуры, переподключение трубопровода)
            li
              | Прокладка трубопровода от точки врезки к дому (объекту капитального строительства)
            li Ввод трубопровода в дом (объект капитального строительства)
          //-+b.progress-bar(data-interest="75")
            +e.pace
              +e.interest 

      +e.item
        +e.title
          +e.number 6
          |Сдача сетей в Водоканал
          +e.arrow
        +e.text
          p
            | Результатом данного процесса является подписание актов со стороны Водоканала и опломбирование счетчика
          p Для этого необходимо сдать пакет документов, включающий в себя:
          ul
            li
              | Исполнительную топографическую съемку (согласованную с департаментом архитектуры)
            li Справку о благоустройстве
            li Акты гидравлических испытаний
            li Освидетельствования скрытых работ
            li Проект сетей
            li Акт дезинфекции и промывки сетей и внутридомовой системы
            li Протокол лабораторных исследований
            li Копия паспорта водомера (вода)
          p
            | После чего инспектор Водоканала выезжает на объект, проверяет качество, сопоставляет с проектом и пломбирует счетчик и выдает акт.
          //-+b.progress-bar(data-interest="86")
            +e.pace
              +e.interest 

      +e.item
        +e.title
          +e.number 7
          |Получение лицевого счета 
          +e.arrow
        +e.text
          p
            | После приемки инспектором сетей, необходимо подать следующий пакет документов:
          ul
            li Разрешение совладельцев (при необходимости).
            li Правоустанавливающие документы на землю и дом
            li Документ-основания права (договор купли продажи, договор дарения и т.д.)
            li Технический паспорт на дом
            li Паспорт водомера
            li Разрешение совладельцев (при наличии таковых)
          p(style="padding-top: 14px; line-height: 1.5em;")
            b Результатом всего цикла работ является  — ваше комфортное пользование коммуникациями и получение квитанций от водоканала на оплату!
          //-+b.progress-bar(data-interest="100")
            +e.pace
              +e.interest 

  .docs
    .container
      +b.title
        +e.wrap
          +e.text Какие документы понадобятся?
      .row
        +b.col_lg_7
          .docs__title Документы, изготавливаемые ООО «БК Инвент»
          ol.docs__list
            li Баланс водопотребления и водоотведения
            li Топографическая съемка (заверенная департаментом архитектуры и радостроительства г.Ростова-на-Дону)
            li Ситуационный план
            li Проект наружной сети, согласованный со всеми инстанциями
            li Схема организации дорожного движения с ГИБДД
            li Ордер на плановое (аварийное) разрытие
            li Акт на чистоту траншеи
            li Акт освидетельствования гидравлических испытаний
            li Акт освидетельствования скрытых работ
            li Акт дезинфекции и промывки
            li Протокол лабораторных исследований воды
            li Справка о благоустройстве территории
            li Исполнительная топографическая съемка (заверенная департаментом архитектуры и  градостроительства г.Ростова-на-Дону)
            li Паспорт водомера
        +b.col_lg_5
          +b.wall._docs
            //- +e.title Получить перечень необходимых документов для предоставления ООО «БК Инвент»
            +e.title Перечень документов, которые нужны от Вас
            +b.form
              //- input(placeholder='Введите Ваше имя').input.input_type_name
              //- input(placeholder='Введите Ваш телефон').input.input_type_phone
              //- input(placeholder='Введите Ваш E-mail').input.input_type_email
              //- +e.btn Скачать документ
              form.ajax
                input(placeholder='Введите Ваше имя' name='name').input.input_type_name
                input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
                input(placeholder='Введите Ваш E-mail' name='email').input.input_type_email
                input(type="hidden" name="download" value="...")
                input(type="hidden" name="order" value="ВК под ключ")
                input(type='submit' value='Получить список документов').form__btn
    //-+b.btn_style_blue Оставить заявку на консультацию инженера

  .reviews
    .container
      .reviews__title Выполненные работы
      div(style="text-align: center")
        +b.zoom(data-img="case1.jpg")
          img(src="img/case1_mini.jpg")
          +e.icon
        +b.zoom(data-img="case2.jpg")
          img(src="img/case2_mini.jpg")
          +e.icon
        +b.zoom(data-img="case3.jpg")
          img(src="img/case3_mini.jpg")
          +e.icon
        +b.zoom(data-img="case4.jpg")
          img(src="img/case4_mini.jpg")
          +e.icon
        +b.zoom(data-img="case5.jpg")
          img(src="img/case5_mini.jpg")
          +e.icon
        +b.zoom(data-img="case6.jpg")
          img(src="img/case6_mini.jpg")
          +e.icon
        +b.zoom(data-img="case7.jpg")
          img(src="img/case7_mini.jpg")
          +e.icon
        +b.zoom(data-img="case8.jpg")
          img(src="img/case8_mini.jpg")
          +e.icon
        +b.zoom(data-img="case9.jpg")
          img(src="img/case9_mini.jpg")
          +e.icon
        +b.zoom(data-img="case10.jpg")
          img(src="img/case10_mini.jpg")
          +e.icon
        +b.zoom(data-img="case11.jpg")
          img(src="img/case11_mini.jpg")
          +e.icon
        +b.zoom(data-img="case12.jpg")
          img(src="img/case12_mini.jpg")
          +e.icon
        +b.zoom(data-img="case13.jpg")
          img(src="img/case13_mini.jpg")
          +e.icon
        +b.zoom(data-img="case14.jpg")
          img(src="img/case14_mini.jpg")
          +e.icon
        +b.zoom(data-img="case15.jpg")
          img(src="img/case15_mini.jpg")
          +e.icon 
      //-   +b.col._xs_12._md_10._md-offset_1
      //-     .slider
      //-       .reviews__gallery
      //-         .row
      //-           +b.col._xs_12._sm_6
      //-             .reviews__img
      //-                 img(src="img/case1_mini.jpg")
      //-             .reviews__imgs
      //-           +b.col._xs_12._sm_6
      //-             .reviews__imgs
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="img/case2_mini.jpg")
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="img/case3_mini.jpg")
      //-             .reviews__img
      //-                 img(src="http://placehold.it/500x250")
      //-       .reviews__gallery
      //-         .row
      //-           +b.col._xs_12._sm_6
      //-             .reviews__imgs
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-             .reviews__img
      //-                 img(src="http://placehold.it/500x205")
      //-             .reviews__imgs
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-           +b.col._xs_12._sm_6
      //-             .reviews__imgs
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-             .reviews__img
      //-                 img(src="http://placehold.it/500x250")
                //- +b.col._xs_12._md_6
                //-   .reviews__name Алина Евсеева
                //-   .reviews__text Я обращалась в компанию БК Инвент для того, чтобы подключить канализацию в дом. Уже сейчас пользуюсь ею, чему очень рада. Долго не могла найти общий язык с Водоканалом, а обратившись в организацию БК Инвент, все мои вопросы были решены за 3 месяца, и построили, и сдали. Теперь мне не приходится как большинству моих соседей пользоваться ямой. Рекомендую обращаться в эту организацию!!!
  
  .container
    +b.title
      +e.wrap
        +e.text Допуски СРО
    .row#doc
      +b.col._xs_6._sm_3
        +b.zoom(style="animation-delay: .2s" data-img="doc1_big.jpg").l.start-animate
          img(src="img/doc1.jpg")
          +e.icon
      +b.col._xs_6._sm_3
        +b.zoom.l.start-animate(data-img="doc2_big.jpg")
          img(src="img/doc2.jpg")
          +e.icon
      +b.col._xs_6._sm_3
        +b.zoom.r.start-animate(data-img="doc3_big.jpg")
          img(src="img/doc3.jpg")
          +e.icon
      +b.col._xs_6._sm_3
        +b.zoom(style="animation-delay: .2s" data-img="doc4_big.jpg").r.start-animate
            img(src="img/doc4.jpg")
            +e.icon

  .container
    +b.title
      +e.wrap
        +e.text Наши партнеры
    +b.logos
      +e.grup
        img(src="img/logo1.jpg")
        img(src="img/logo2.jpg")
        img(src="img/logo3.jpg")
        img(src="img/logo4.jpg")
        img(src="img/logo5.jpg")
        img(src="img/logo6.jpg")
        img(src="img/logo7.jpg")
        img(src="img/logo8.jpg")
        img(src="img/logo9.jpg")
  .froze
    .container
      .froze__container
        .froze__action ЗАПИШИТЕСЬ НА БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ СПЕЦИАЛИСТА ПО ОФОРМЛЕНИЮ ДОКУМЕНТОВ
        .froze__description Заполните форму, и специалист свяжется с Вами в течение 20 минут
        +b.form
          form.ajax
            input(placeholder='Введите Ваше имя' name='name').input.input_type_name
            input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
            input(type="hidden" name="order" value="ВК под ключ. Консультация по документам")
            input(type='submit' value='Получить консультацию по документам').form__btn

  .container
    +b.title
      +e.wrap
        +e.text Cхема работы
    .scheme#scheme
      .row
        +b.col.col_lg_3
          .scheme__item.scheme__item_step_1.start-animate
            .scheme__title Заявка
            .scheme__text Вы оставляете заявку или звоните нам по телефону
            .btn.btn_style_small.order Оставить заявку
        +b.col._lg_5
          .scheme__item.scheme__item_step_3(style="animation-delay: 1s").start-animate
            .scheme__title Заключение подрядного договора
            .scheme__text Мы формируем коммерческое предложение и составляем договор подряда

        +b.col._lg_3
          .scheme__item.scheme__item_step_5(style="animation-delay: 2s").start-animate
            .scheme__title Осуществление работ
            .scheme__text Проводим необходимые работы по проектированию и монтажу
      .scheme__progress-bar
      .row
        +b.col._lg_5
          .scheme__item.scheme__item_step_2(style="animation-delay: .5s").start-animate
            .scheme__title Бесплатное обследование объекта
            .scheme__text Мы отправляем главного инженера на объект для выяснения подробностей
        +b.col._lg_4
          .scheme__item.scheme__item_step_4(style="animation-delay: 1.5s").start-animate
            .scheme__title Предоставление документов
            .scheme__text Вы предоставляете нам все необходимые документы
        +b.col._lg_3
          .scheme__item.scheme__item_step_6(style="animation-delay: 2.5s").start-animate
            .scheme__title Получение лицевого счета
            .scheme__text Гарантируем, что вы получите лицевой счет на водоснабжение и канализацию

    .scheme.scheme_mod_1
      .row
        +b.col._sm_6
          .scheme__item.scheme__item_step_1
            .scheme__title Заявка
            .scheme__text Вы оставляете заявку или звоните нам по телефону
            .btn.btn_style_small.order Оставить заявку
        +b.col._sm_6
          .scheme__item.scheme__item_step_2
            .scheme__title Бесплатное обследование объекта
            .scheme__text Мы отправляем главного инженера на объект для выяснения подробностей
        +b.col._sm_6
          .scheme__item.scheme__item_step_3
            .scheme__title Заключение подрядного договора
            .scheme__text Мы формируем коммерческое предложение и составляем договор подряда
        +b.col._sm_6
          .scheme__item.scheme__item_step_4
            .scheme__title Предоставление документов
            .scheme__text Вы предоставляете нам все необходимые документы

        +b.col._sm_6
          .scheme__item.scheme__item_step_5
            .scheme__title Осуществление работ
            .scheme__text Проводим необходимые работы по проектированию и монтажу
        +b.col._sm_6
          .scheme__item.scheme__item_step_6
            .scheme__title Получение лицевого счета
            .scheme__text Гарантируем, что вы получите лицевой счет на водоснабжение и канализацию

  .questions
    .questions__title У вас остались вопросы?
    | Задайте их нашему специалисту!
  .btn.order Получить бесплатную консультацию
  .map#map
  .footer
    .container
      .row
        +b.col_sm_4
          .footer__contact.footer__contact_type_adress Ростове-на-Дону,<br>ул. Текучева, 23, эт. 3
        +b.col_sm_4
          .footer__contact.footer__contact_type_call
            +b.phone-grup._footer 
              +e.phone 8 (863) 303-38-33
              +e.text Пн.- пт. с 9:00 до 18:00<br>Сб. с 10:00 до 16:00
        +b.col_sm_4
          .footer__contact.footer__contact_type_mail order@bk-invent.ru


  .modal#modal__callme
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .modal__title Наши менеджеры свяжутся с Вами в ближайшее время
            +b.form
              form.ajax
                input(placeholder='Введите Ваше имя' name='name').input.input_type_name
                input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
                input(type="hidden" name="order" value="ВК под ключ. Заказ звонка")
                input(type='submit' value='Заказать звонок').form__btn

  .modal#modal__order
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .modal__title Получить бесплатную консультацию
            +b.form
              form.ajax
                input(placeholder='Введите Ваше имя' name='name').input.input_type_name
                input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
                input(placeholder='Введите Ваш E-mail' name='email').input.input_type_email
                input(type="hidden" name="order" value="ВК под ключ. Консультация")
                input(type='submit' value='Отправить').form__btn

  .modal#modal__ok
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .modal__title <b>Ваша заявка принята</b> <br>Наш специалист свяжется с вами в течении 20 минут

  .modal#modal__download
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .modal__title Документы можно скачать по ссылке
            a(href="http://lp.bk-invent.ru/docs.pdf" target="_blank").btn Скачать

  .modal.modal_type_zoom#modal__zoom
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            img(src="")#zoom__img

  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  //build:js js/all.js
  script(src="node_modules/jquery/dist/jquery.min.js")
  script(src="node_modules/waypoints/lib/jquery.waypoints.min.js")
  //- script(src="node_modules/bxslider/dist/jquery.bxslider.min.js")
  script(src="node_modules/jquery-validation/dist/jquery.validate.min.js")
  script(src="tmp/index.js")
  //endbuild
  script(type='text/javascript').
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
      ym(51499229, "init", {
      id:51499229,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
      });
  noscript
    div
      img(src='https://mc.yandex.ru/watch/51499229', style='position:absolute; left:-9999px;', alt='')
