include ../node_modules/bemto.jade/bemto

<!DOCTYPE html>
html(lang="ru")
head
  meta(charset="UTF-8")
  title Document
  //build:css css/all.css
  link(rel="stylesheet", href="tmp/index.css")
  //endbuild
body.page
  .loader.loader_active
    .loader__spinner
    .loader__text Загрузка
  .top
    .container
      .row
        +b.col_lg_4
          +b.logo
            +e.img
              img(src='img/logo.png')
            +e.text ПРОЕКТНО-СТРОИТЕЛЬНАЯ<br>КОМПАНИЯ
        +b.col_lg_6
          +b.phone-grup 
            +e.phone 8 (863) 308-45-38
            +e.text Пн.- пт. с 9:00 до 18:00
        +b.col_lg_2
          +b.callme Заказать звонок
  .header
    div
      .offer Водопровод и канализация «под ключ» <br> в Ростове-на-Дону
      .btn Получить бесплатную консультацию

  .froze
    .container
      .froze__container
        .froze__action Запишитесь на бесплатный консультацию  инженера с опытом работы 6 лет
        .froze__description Заполните форму и представитель компании свяжется с вами в течении 40 минут
        +b.form
          input(placeholder='Введите ваше имя').input.input_type_name
          input(placeholder='Введите ваш телефон').input.input_type_phone
          +e.btn Оставить заявку на выезд инженера

  .triggers
    .container
      .row
        +b.col_lg_4
          img(src='img/triggers__img1.png').triggers__img
          .triggers__text Опыт работы<br>более 6 лет
        +b.col_lg_4
          img(src='img/triggers__img2.png').triggers__img
          .triggers__text Гарантия 24 месяца<br>на монтажные работы
        +b.col_lg_4
          img(src='img/triggers__img3.png').triggers__img
          .triggers__text Пдключение<br>за 3 месяца
        +b.col_lg_4
          img(src='img/triggers__img4.png').triggers__img
          .triggers__text Гарантия получения<br>лицевого счета
        +b.col_lg_4
          img(src='img/triggers__img5.png').triggers__img
          .triggers__text Применяем<br>сертифицированные<br>материалы
        +b.col_lg_4
          img(src='img/triggers__img6.png').triggers__img
          .triggers__text Цены ниже<br>среднерыночных<br> на 7-12%
  .container
    +b.title
      +e.wrap
        +e.text Этапы подключения
    +b.tabs
      +e.item
        +e.title
          +e.number 1
          |Сбор документов
          +e.arrow
        +e.text
          ol
            li  Правоустанавливающие документы
            li
              | Топографическая съемка в масштабе 1:500 с указанием всем коммуникаций (наземных и подземных)
            li  Баланс водопотребления и водоотведения подключаемого объекта
            li  Ситуационный план
          +b.progress-bar(data-interest="10")
            +e.pace
              +e.interest 

      +e.item
        +e.title
          +e.number 2
          |Получение технических условий
          +e.arrow
        +e.text
          p Регламентированный срок получения основания для проектирования:
          ol
            li  Технические условия – 14 рабочих дней
            li  Договор на подключение – 20 рабочих дней
          p Технические условия являются бесплатными и выдаются при следующих условиях:
          ul
            li Абонент уже имеет лицевой счет (подабонента, колонки и т.п.);
            li
              | В исключительных случаях, когда водоканал не имеет возможности предоставить ближайшую точку подключения, но есть возможность подключиться с условием строительства магистральной сети за счет заказчика.
          p
            | Договор на подключение оплачивается в кассу Водоканала и рассчитывается, исходя из максимальной нагрузки водопотребления (водоотведения)
          p Цена:
          ul
            li Водоснабжение — 39 882 руб./куб.м. в сутки без НДС
            li Водоотведение — 59 166 руб за куб.м в сутки без НДС
          p Например (частный дом водоснабжение):
          p 0,84 * 39882 = 33500 (без НДС) + 18% = 39531 руб
          +b.progress-bar(data-interest="24")
            +e.pace
              +e.interest 

      +e.item
        +e.title
          +e.number 3
          |Получение технических условий
          +e.arrow
        +e.text
          p Процесс проектирования включает в себя:
          ul
            li Обследование объекта инженером-проектировщиком
            li
              | Создание полного пакета чертежей стадии РД (общие данные, план сетей, профиль, таблица колодцев, спецификация)
            li
              | И согласования со всеми эксплуатирующими инстанциями города, а также администрацией, департаментом автодорог, департаментом окружающей среды и департаментом архитектуры. Таким образом согласования с более 15 организациями.
          +b.progress-bar(data-interest="24")
            +e.pace
              +e.interest 

      +e.item
        +e.title
          +e.number 4
          |Получение технических условий
          +e.arrow
         +e.text
          p
            | Для того, чтобы осуществлять строительство необходимо получить разрешение от двух инстанций:
          ul
            li ГИБДД – согласовать схему дорожного движения
            li
             | Управление благоустройством администрации города – получение ордера на разрытие (по закрытии которого мы получаем справку о благоустройстве, как неотъемлемый документ при сдачи сети в Водоканал.
          +b.progress-bar(data-interest="58")
            +e.pace
              +e.interest 

      +e.item
        +e.title
          +e.number 5
          |Получение технических условий
          +e.arrow
        +e.text
          p
            | Прокладка сети осуществляется открытым или закрытым (методом ГНБ, прокола) способом.
          p Комплексные строительно-монтажные работы включают в себя:
          ul
            li Строительство колодца (при необходимости)
            li
              | Обвязка колодца (врезка, установка запорной арматуры, переподключение трубопровода)
            li
              | Прокладка трубопровода от точки врезки к дому (объекту капитального строительства)
            li Ввод трубопровода в дом (объект капитального строительства)
          +b.progress-bar(data-interest="75")
            +e.pace
              +e.interest 

      +e.item
        +e.title
          +e.number 6
          |Получение технических условий
          +e.arrow
        +e.text
          p
            | Результатом данного процесса является подписание актов со стороны Водоканала и опломбирование счетчика (только для воды).
          p Для этого необходимо сдать пакет документов, включающий в себя:
          ul
            li
              | Исполнительную топографическую съемку (согласованную с департаментом архитектуры)
            li Справку о благоустройстве
            li Акты гидравлических испытаний
            li Освидетельствования скрытых работ
            li Проект сетей
            li Акт дезинфекции и промывки сетей и внутридомовой системы
            li Протокол лабораторных исследований (только вода)
            li Копия паспорта водомера (вода)
          p
            | После чего инспектор Водоканала выезжает на объект, проверяет качество, сопоставляет с проектом и пломбирует счетчик (только вода) и выдает акт.
          +b.progress-bar(data-interest="86")
            +e.pace
              +e.interest 

      +e.item
        +e.title
          +e.number 7
          |Получение технических условий
          +e.arrow
        +e.text
          p
            | После приемки инспектором сетей, необходимо подать пакет документов, который состоит из правоустанавливающих документов:
          ul
            li Технического паспорта на дом,
            li Подлинника паспорта водомера,
            li Справка о количестве граждан,
            li Зарегистрированных по адресу,
            li Разрешение совладельцев (при необходимости).
          p
            | Результатом всего цикла работ является  — ваше комфортное пользование коммуникациями и получение квитанций от водоканала на оплату!
          +b.progress-bar(data-interest="100")
            +e.pace
              +e.interest 

  .docs
    .container
      +b.title
        +e.wrap
          +e.text Какие документы понадобятся?
      .row
        +b.col_lg_7
          .docs__title Документы, изготавливаемые ООО «БК Инвент»
          ol.docs__list
            li Баланс водопотребления и водоотведения
            li Топографическая съемка (заверенная департаментом архитектуры и радостроительства г.Ростова-на-Дону)
            li Ситуационный план
            li Проект наружной сети, согласованный со всеми инстанциями
            li Схема организации дорожного движения с ГИБДД
            li Ордер на плановое (аварийное) разрытие
            li Акт на чистоту траншеи
            li Акт освидетельствования гидравлических испытаний
            li Акт освидетельствования скрытых работ
            li Акт дезинфекции и промывки
            li Протокол лабораторных исследований воды
            li Справка о благоустройстве территории
            li Исполнительная топографическая съемка (заверенная департаментом архитектуры и  градостроительства г.Ростова-на-Дону)
            li Паспорт водомера
        +b.col_lg_5
          +b.wall._docs
            +e.title Получить список необходимых <br>Вам документов
            +b.form
              input(placeholder='Введите Ваше имя').input.input_type_name
              input(placeholder='Введите Ваш телефон').input.input_type_phone
              input(placeholder='Введите Ваш E-mail').input.input_type_email
              +e.btn Скачать документ
    +b.btn_style_blue Оставить заявку на консультацию инженера

  .reviews
    .container
      .reviews__title Клиенты о нас
      .row
        +b.col_lg_10._lg-offset_1
          .slider
            div
              .reviews__name Алина Евсеева
              .reviews__text Я обращалась в компанию БК Инвент для того, чтобы подключить канализацию в дом. Уже сейчас пользуюсь ею, чему очень рада. Долго не могла найти общий язык с Водоканалом, а обратившись в организацию БК Инвент, все мои вопросы были решены за 3 месяца, и построили, и сдали. Теперь мне не приходится как большинству моих соседей пользоваться ямой. Рекомендую обращаться в эту организацию!!!
            div 2
            div 3


  //build:js js/all.js
  script(src="node_modules/jquery/dist/jquery.min.js")
  script(src="node_modules/bxslider/dist/jquery.bxslider.min.js")
  script(src="tmp/index.js")
  //endbuild
    