include ../node_modules/bemto.jade/bemto

//
  <?php

  $utm_medium = '-';
  $utm_source = '-';
  $utm_campaign = '-';
  $utm_term = '-';
  $utm_content = '-';

  if (isset($_GET['utm_medium'])) {
    $utm_medium = $_GET['utm_medium'];
  }

  if (isset($_GET['utm_source'])) {
    $utm_source = $_GET['utm_source'];
  }

  if (isset($_GET['utm_campaign'])) {
    $utm_campaign = $_GET['utm_campaign'];
  }

  if (isset($_GET['utm_term'])) {
    $utm_term = $_GET['utm_term'];
  }

  if (isset($_GET['utm_content'])) {
    $utm_content = $_GET['utm_content'];
  }
  $url = $_SERVER['HTTP_HOST'].$_SERVER['PHP_SELF'];
  $utm =  $_SERVER["QUERY_STRING"];
  ?>

<!DOCTYPE html>
html(lang="ru")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title ВОДОПРОВОД И КАНАЛИЗАЦИЯ «ПОД КЛЮЧ»

  link(rel="icon" href="img/favicon.ico" type="image/x-icon")
  link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
  link(rel='apple-touch-icon', sizes='180x180', href='img/apple-touch-icon.png')
  link(rel='icon', type='image/png', sizes='32x32', href='img/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='16x16', href='img/favicon-16x16.png')
  //- link(rel='manifest', href='img/site.webmanifest')
  link(rel='mask-icon', href='img/safari-pinned-tab.svg', color='#5bbad5')
  meta(name='msapplication-TileColor', content='#da532c')
  meta(name='theme-color', content='#ffffff')



  //build:css css/all.css
  link(rel="stylesheet", href="node_modules/animate.css/animate.min.css")
  link(rel="stylesheet", href="tmp/index.css")
  //endbuild
body.page
  .loader.loader_active
    .loader__spinner
    .loader__text Загрузка
  .loader.loader_submit
    .loader__spinner
    .loader__text Обработка...
  .top
    .container
      .row
        +b.col._lg_4._md_4._sm_5._xs_6
          +b.logo
            +e.img
              img(src='img/logo.png')
            +e.text ПРОЕКТНО-СТРОИТЕЛЬНАЯ<br>КОМПАНИЯ
        +b.col._lg_4._lg-offset_4._md_5._md-offset_3._sm_7._xs_6
          +b.phone-grup 
            +e.phone.primegate-phone 8 (863) 303-38-33
            +e.text Пн.- пт. с 9:00 до 18:00<br>Сб. с 10:00 до 16:00
          +b.callme Заказать звонок
  .header
    .container
      .offer 
        .offer__text.start-animate <span>Водопровод и канализация «под ключ» </span><br> в Ростове-на-Дону и Ростовской области
        .offer__action.order.start-animate(style="animation-delay: .2s") Получить бесплатную консультацию

  .froze
    .container
      .froze__container
        +b.form
          form.ajax
            .froze__action 
              |ПОЛУЧИТЬ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ ОТ
              select(name="comment").selectt
                option(selected value="Клиент хочет поговорить со cпециалистом по оформлению документов") Cпециалиста по оформлению документов 
                option(value="Клиент хочет поговорить с ведущим инженером") Ведущего инженера
                option(value="Клиент хочет поговорить с инженером-консультантом общего профиля") Инженера-консультанта общего профиля
                option(value="Клиент хочет поговорить с юристом") Юриста
            .froze__description Заполните форму, и в течение 20 минут с Вами свяжется выбранный Вами специалист
            input(placeholder='Введите Ваше имя' name='name').input.input_type_name
            input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
            input(type="hidden" name="order" value="ВК под ключ. Консультация")
            input(type='hidden', name='url', value!="<?echo $url?>")
            input(type='hidden', name='utm', value!="<?echo $utm?>")
            input(type='hidden', name='utm_term', value!="<?echo $utm_term?>")
            input(type='hidden', name='utm_campaign', value!="<?echo $utm_campaign?>")
            input(type='hidden', name='utm_source', value!="<?echo $utm_source?>")
            input(type='hidden', name='utm_medium', value!="<?echo $utm_medium?>")
            input(type='hidden', name='utm_content', value!="<?echo $utm_content?>")
            input(type='submit' value='Получить консультацию по документам').form__btn


  //- .triggers
  //-   .container
  //-     .row
  //-       +b.col._lg_4._md_4._sm_4._xs_6
  //-         .triggers__items.start-animate
  //-           img(src='img/triggers__img1.png').triggers__img
  //-           .triggers__text Опыт работы<br>более 6 лет
  //-       +b.col._lg_4._md_4._sm_4._xs_6
  //-         .triggers__items(style="animation-delay: .2s").start-animate
  //-           img(src='img/triggers__img2.png').triggers__img
  //-           .triggers__text Гарантия 24 месяца<br>на монтажные работы
  //-       +b.col._lg_4._md_4._sm_4._xs_6
  //-         .triggers__items(style="animation-delay: .3s").start-animate
  //-           img(src='img/triggers__img3.png').triggers__img
  //-           .triggers__text Подключение<br>за 3 месяца
  //-       +b.col._lg_4._md_4._sm_4._xs_6
  //-         .triggers__items(style="animation-delay: .4s").start-animate
  //-           img(src='img/triggers__img4.png').triggers__img
  //-           .triggers__text Гарантия получения<br>лицевого счета
  //-       +b.col._lg_4._md_4._sm_4._xs_6
  //-         .triggers__items(style="animation-delay: .5s").start-animate
  //-           img(src='img/triggers__img5.png').triggers__img
  //-           .triggers__text Применяем<br>сертифицированные<br>материалы
  //-       +b.col._lg_4._md_4._sm_4._xs_6
  //-         .triggers__items(style="animation-delay: .6s").start-animate
  //-           img(src='img/triggers__img6.png').triggers__img
  //-           .triggers__text Цены ниже<br>среднерыночных<br> на 7-12%
  
  .slider#l-advantage
    +b.col._xs_12._md_10._md-offset_1
      .container
        .slider__title ВАШИ ПРЕИМУЩЕСТВА СОТРУДНИЧЕСТВА С ООО ”БК ИНВЕНТ” 
        .slider__wrapped
            .slider__item 
              img(src='img/i1.png')
              |Вы доверяете свою задачу “подключить инженерные сети” полностью нашим специалистам, которые имеют опыт более 8 лет 
            .slider__item 
              img(src='img/i2.png') 
              |Ваши пояжелания всегда учитываются в реализации проекта, а специалисты в своем решении учитывают экономическую выгоду и технические стандарты 
            .slider__item 
              img(src='img/i3.png')
              |Вы получаете проект водоснабжения/водоотведения в формате 3D, который прошел нормоконтроль и имеет знак качества 
             
            .slider__item 
              img(src='img/i4.png')
              | Вы имеете правовую защиту -  подрядный договор, в котором детально прописаны наши обязанности и сроки по выполнению работ, а также гарантия 24 месяца
            .slider__item 
              img(src='img/i5.png')
              |Ваш проект обеспечен квалифицированными кадрами и ресурсами - БК Инвент состоит в СРО проектном, СРО строительном, сертифицирована ISO, по завершении проходит внутреннюю экспертизу
  .stock#l-stock
    .container
      .row
        +b.col._lg_6._md_6._sm_12._xs_12._lg-offset_1
            
          .stock__title
            span Действующие акции
          .stock__text
              span(style="color: #fd5454;") КАКИЕ БОНУСЫ ВЫ ПОЛУЧАЕТЕ?
              br
              |Баланс водопотребления и водоотведения
              br
              |Справка о благоустройстве
              span( style="padding: 26px; float: right; margin-top: -35px; color: #fd5454;") - БЕСПЛАТНО
              br
              br
              span(style="color: #fd5454;") УСЛОВИЯ ПОЛУЧЕНИЯ БОНУСОВ: 
              | При заказе услуги “КОМПЛЕКСНОЕ ВОДОСНАБЖЕНИЕ И/ИЛИ ВОДООТВЕДЕНИЕ”
              br
              span(style="color: #fd5454;")  СРОК ДЕЙСТВИЯ АКЦИИ: 
              | до <span class="data-s"></span>

              br
              br
              span(style="color: #fd5454;") Успей отправить заявку до <span class="data-s"></span>, чтобы сохранить за собой условия акции!! 

          +b.timer
            #timer
              +e.action До конца акции осталось:
              .digits
            //- +e.el
            //-   +e.numeral 33
            //-   +e.text дней
            //- +e.el
            //-   +e.numeral 33
            //-   +e.text часов
            //- +e.el
            //-   +e.numeral 33
            //-   +e.text минут
        +b.col._lg_5._md_6._sm_12._xs_12
          .wall
            .wall__title Заполните форму, чтобы<br>поучаствовать в акции
            .form
              form.ajax
                input(placeholder='Введите Ваше имя' name='name').input.input_type_name
                input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
                input(placeholder='Введите Ваш E-mail' name='email').input.input_type_email
                input(type='hidden', name='order', value='ВК под ключ. Акция')
                input(type='hidden', name='url', value!="<?echo $url?>")
                input(type='hidden', name='utm', value!="<?echo $utm?>")
                input(type='hidden', name='utm_term', value!="<?echo $utm_term?>")
                input(type='hidden', name='utm_campaign', value!="<?echo $utm_campaign?>")
                input(type='hidden', name='utm_source', value!="<?echo $utm_source?>")
                input(type='hidden', name='utm_medium', value!="<?echo $utm_medium?>")
                input(type='hidden', name='utm_content', value!="<?echo $utm_content?>")
                input(type='submit' value='Отправить' style="background: linear-gradient(0deg,#fc4c4c,#ff5959);").form__btn


  .container#l-stages
    +b.title
      +e.wrap
        +e.text Этапы подключения

    +b.tabs.row
      .col.col_lg_3.col_sm_12
        +e.item
          +e.title
            +e.number 1
            |Предпроектные работы + Рабочая проектная документация
            //+e.arrow
          +e.text
            p 
              b Вы получаете:
            ol
              li Договор на технологическое присоединение от АО “Ростовводоканал”и/или Технические Условия 
              li Топографическая съемка,согласованная с Департаментом Архитектуры
              li Баланс водопотребления и водоотведения 
              li Согласованную со всеми необходимыми инстанциями проектную документацию на прокладку водопровода/водоотведения, согласно СНиП, СП 

      .col.col_lg_3.col_sm_12
        +e.item
          +e.title
            +e.number 2
            |Строительно-монтажные работы
            //+e.arrow
          +e.text
            b Вы получаете:
            ol
              li Разрешение на разрытие (ордер)
              li Построенную сеть водоснабжения/водоотведения
              li колодец, обвязку колодца, 
              li врезку на центральной магистрали, 
            P Cогласно проектной документации, СП, СНиП
      .col.col_lg_3.col_sm_12
        +e.item
          +e.title
            +e.number 3
            |Сдача сетей в АО “Ростовводоканал”
            //+e.arrow
          +e.text
            b Вы получаете:
            ol
              li Акты готовности внутриплощадочных сетей, акты ввода в эксплуатацию, акты на опломбировку счетчика, акт разграничения балансовой принадлежности, акт дезинфекции и промывки
              li Исполнительную топографическую съемку, согласованную с Департаментом Архитектуры
              li Необходимую исполнительную документацию на строительство сети
              li Справку о благоустройстве от администрации района
              li Заключение лабораторных исследований (по воде)

      .col.col_lg_3.col_sm_12
        +e.item
          +e.title
            +e.number 4
            |Оформление лицевого счета
            //+e.arrow
          +e.text
            b Вы получаете:
            ol
              li Возможность санкционированного пользования водоснабжением/водоотведением
              li Договор холодного водоснабжения/водоотведения
              li Первую квитанцию на оплату


  .froze
    .container
      .froze__container
        +b.form
          form.ajax
            .froze__action 
              |Если Вы хотите получить детальный бизнес-процесс подключения к сетям водоснабжения и/или водоотведения, разработанный компанией ООО “БК Инвент”, заполните форму обратной связи. 
            .froze__description Мы вышлем Вам на почту файл, в котором описан список работ, необходимых для комплексного подключения водоснабжения и водоотведения. 

            input(placeholder='Введите Ваше имя' name='name').input.input_type_name
            input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
            input(placeholder='Введите Ваш E-mail' name='email').input.input_type_email
            input(type="hidden" name="order" value="ВК под ключ. Отправить файл 'бизнес-процесс подключения к сетям водоснабжения и/или водоотведенияна' почту")
            input(type='hidden', name='url', value!="<?echo $url?>")
            input(type='hidden', name='utm', value!="<?echo $utm?>")
            input(type='hidden', name='utm_term', value!="<?echo $utm_term?>")
            input(type='hidden', name='utm_campaign', value!="<?echo $utm_campaign?>")
            input(type='hidden', name='utm_source', value!="<?echo $utm_source?>")
            input(type='hidden', name='utm_medium', value!="<?echo $utm_medium?>")
            input(type='hidden', name='utm_content', value!="<?echo $utm_content?>")
            input(type='submit' value='Получить файл').form__btn





    

  .docs#l-docs
    .container
      //- +b.title
      //-   +e.wrap
      //-     +e.text Какие документы понадобятся?
      .row
        +b.col_lg_6(style="background: #96acf0;")
          .docs__title Документы, входящие в “Папку клиента”:
          ol.docs__list
            li Баланс водопотребления и водоотведения
            li Топографическая съемка (заверенная департаментом архитектуры и Градостроительства г.Ростова-на-Дону) 
            li Договор на технологическое присоединение с АО “Ростовводоканал” и/или технические условия
            li Рабочая проектная документация, согласованная с 17 организациями
            li Ордер на разрытие, схема организации дорожного движения, справка о благоустройстве территории
            li Исполнительные акты
            li Протокол лабораторных исследований воды
            li Исполнительная топографическая съемка (заверенная департаментом Архитектуры и Градостроительства г.Ростова-на-Дону)
            li Акт допуска водопроводного/канализационного ввода в эксплуатаци
            li Акт о разграничении балансовой принадлежности
            li Акт о готовности внутриплощадочных и(или) внутридомовых сетей и оборудования
            li Акт об опломбировке счетчика (по водоснабжению)
            li Справка о выполнении технических условий 
            li Договор на холодное водоснабжение/водоотведения
            li Первая квитанция на оплату 
        +b.col_lg_6(style="background: #ffc2c2;")
          .docs__title Правоустанавливающие документы,<br>которые необходимы от Вас:

          ol.docs__list
            li Копия паспорта гражданина РФ
            li Правоустанавливающие документы на участок и объект недвижимости
            li Документы-основания (договор купли-продажи, договор дарения и т.д.)
            li Технический паспорт (с привязкой к объекту)
            li Доверенность на сотрудника "БК Инвент"
          p(style="margin-top: 20px;border-left: 4px solid #2b519e;padding-left: 10px;") Если из перечисленного списка, у Вас не хватает какого-то документа, юрист "БК Инвент" подскажет, как восстановить/получить/изготовить
          +b.callme._block Заказать звонок

  .reviews
    .container
      .reviews__title Часть из того, что мы выполнили:
      div(style="text-align: center;max-width: 1040px;margin: auto;")
        +b.zoom(data-img="case1.jpg")
          img(src="img/case1_mini.jpg")
          +e.icon
          .reviews__text Прокладка водоотведения,<br> г.Ростов-на-Дону,<br>ул. Профсоюзная, 29
        +b.zoom(data-img="case2.jpg")
          img(src="img/case2_mini.jpg")
          +e.icon
          .reviews__text Прокладка водоснабжения, <br>г.Ростов-на-Дону,<br> ул. Республиканская, 181
        +b.zoom(data-img="case3.jpg")
          img(src="img/case3_mini.jpg")
          +e.icon
          .reviews__text Прокладка водоотведения,<br> г.Ростов-на-Дону, <br>ул. Мильчакова, 83
        //- +b.zoom(data-img="case4.jpg")
        //-   img(src="img/case4_mini.jpg")
        //-   +e.icon
        +b.zoom(data-img="case5.jpg")
          img(src="img/case5_mini.jpg")
          +e.icon
          .reviews__text Прокладка водовода, <br>ул. Скачкова, ЖК Акварель
        //- +b.zoom(data-img="case6.jpg")
        //-   img(src="img/case6_mini.jpg")
        //-   +e.icon
          
        +b.zoom(data-img="case7.jpg")
          img(src="img/case7_mini.jpg")
          +e.icon
          .reviews__text Устройство канализации,<br>ул.Неклиновская, 18
        +b.zoom(data-img="case8.jpg")
          img(src="img/case8_mini.jpg")
          +e.icon
          .reviews__text Устройство водопровода, <br>ЖК Военвед Сити
        //- +b.zoom(data-img="case9.jpg")
        //-   img(src="img/case9_mini.jpg")
        //-   +e.icon
        +b.zoom(data-img="case10.jpg")
          img(src="img/case10_mini.jpg")
          +e.icon
          .reviews__text  Врезка в трубу диаметром<br> 300 под давлением, <br>ул. Витебская, 12
        +b.zoom(data-img="case11.jpg")
          img(src="img/case11_mini.jpg")
          +e.icon
          .reviews__text Устройство водопровода, <br>ул. Пескова, 87 убрать
        //- +b.zoom(data-img="case12.jpg")
        //-   img(src="img/case12_mini.jpg")
        //-   +e.icon
          
        //- +b.zoom(data-img="case13.jpg")
        //-   img(src="img/case13_mini.jpg")
        //-   +e.icon
        //- +b.zoom(data-img="case14.jpg")
        //-   img(src="img/case14_mini.jpg")
        //-   +e.icon
        //- +b.zoom(data-img="case15.jpg")
        //-   img(src="img/case15_mini.jpg")
        //-   +e.icon 
      //-   +b.col._xs_12._md_10._md-offset_1
      //-     .slider
      //-       .reviews__gallery
      //-         .row
      //-           +b.col._xs_12._sm_6
      //-             .reviews__img
      //-                 img(src="img/case1_mini.jpg")
      //-             .reviews__imgs
      //-           +b.col._xs_12._sm_6
      //-             .reviews__imgs
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="img/case2_mini.jpg")
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="img/case3_mini.jpg")
      //-             .reviews__img
      //-                 img(src="http://placehold.it/500x250")
      //-       .reviews__gallery
      //-         .row
      //-           +b.col._xs_12._sm_6
      //-             .reviews__imgs
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-             .reviews__img
      //-                 img(src="http://placehold.it/500x205")
      //-             .reviews__imgs
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-           +b.col._xs_12._sm_6
      //-             .reviews__imgs
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-             .reviews__img
      //-                 img(src="http://placehold.it/500x250")
                //- +b.col._xs_12._md_6
                //-   .reviews__name Алина Евсеева
                //-   .reviews__text Я обращалась в компанию БК Инвент для того, чтобы подключить канализацию в дом. Уже сейчас пользуюсь ею, чему очень рада. Долго не могла найти общий язык с Водоканалом, а обратившись в организацию БК Инвент, все мои вопросы были решены за 3 месяца, и построили, и сдали. Теперь мне не приходится как большинству моих соседей пользоваться ямой. Рекомендую обращаться в эту организацию!!!
  
  .container
    +b.title
      +e.wrap
        +e.text Допуски СРО
    .row#doc
      +b.col._xs_6._sm_3
        +b.zoom(style="animation-delay: .2s" data-img="doc1_big.jpg").l.start-animate
          img(src="img/doc1.jpg")
          +e.icon
      +b.col._xs_6._sm_3
        +b.zoom.l.start-animate(data-img="doc2_big.jpg")
          img(src="img/doc2.jpg")
          +e.icon
      +b.col._xs_6._sm_3
        +b.zoom.r.start-animate(data-img="doc3_big.jpg")
          img(src="img/doc3.jpg")
          +e.icon
      +b.col._xs_6._sm_3
        +b.zoom(style="animation-delay: .2s" data-img="doc4_big.jpg").r.start-animate
            img(src="img/doc4.jpg")
            +e.icon

  .container
    +b.title
      +e.wrap
        +e.text Наши партнеры
    +b.logos
      +e.grup
        img(src="img/logo1.jpg")
        img(src="img/logo2.jpg")
        img(src="img/logo3.jpg")
        img(src="img/logo4.jpg")
        img(src="img/logo5.jpg")
        img(src="img/logo6.jpg")
        img(src="img/logo7.jpg")
        img(src="img/logo8.jpg")
        img(src="img/logo9.jpg")
  //- .froze
  //-   .container
  //-     .froze__container
  //-       .froze__action ЗАПИШИТЕСЬ НА БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ СПЕЦИАЛИСТА ПО ОФОРМЛЕНИЮ ДОКУМЕНТОВ
  //-       .froze__description Заполните форму, и специалист свяжется с Вами в течение 20 минут
  //-       +b.form
  //-         form.ajax
  //-           input(placeholder='Введите Ваше имя' name='name').input.input_type_name
  //-           input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
  //-           input(type="hidden" name="order" value="ВК под ключ. Консультация по документам")
  //-           input(type='hidden', name='url', value!="<?echo $url?>")
  //-           input(type='hidden', name='utm', value!="<?echo $utm?>")
  //-           input(type='hidden', name='utm_term', value!="<?echo $utm_term?>")
  //-           input(type='hidden', name='utm_campaign', value!="<?echo $utm_campaign?>")
  //-           input(type='hidden', name='utm_source', value!="<?echo $utm_source?>")
  //-           input(type='hidden', name='utm_medium', value!="<?echo $utm_medium?>")
  //-           input(type='hidden', name='utm_content', value!="<?echo $utm_content?>")
  //-           input(type='submit' value='Получить консультацию по документам').form__btn

  .container#l-work
    +b.title
      +e.wrap
        +e.text Cхема работы
    .scheme#scheme
      .row
        +b.col.col_lg_3
          .scheme__item.scheme__item_step_1.start-animate
            .scheme__title Заявка
            .scheme__text Вы оставляете заявку или звоните нам по телефону
            .btn.btn_style_small.order Оставить заявку
        +b.col._lg_5
          .scheme__item.scheme__item_step_3(style="animation-delay: 1s").start-animate
            .scheme__title Заключение подрядного договора
            .scheme__text Мы формируем коммерческое предложение и составляем договор подряда

        +b.col._lg_3
          .scheme__item.scheme__item_step_5(style="animation-delay: 2s").start-animate
            .scheme__title Осуществление работ
            .scheme__text Проводим необходимые работы по проектированию и монтажу
      .scheme__progress-bar
      .row
        +b.col._lg_5
          .scheme__item.scheme__item_step_2(style="animation-delay: .5s").start-animate
            .scheme__title Бесплатное обследование объекта
            .scheme__text Мы отправляем главного инженера на объект для выяснения подробностей
        +b.col._lg_4
          .scheme__item.scheme__item_step_4(style="animation-delay: 1.5s").start-animate
            .scheme__title Предоставление документов
            .scheme__text Вы предоставляете нам все документы, необходимые для реализации проекта
        +b.col._lg_3
          .scheme__item.scheme__item_step_6(style="animation-delay: 2.5s").start-animate
            .scheme__title Получение лицевого счета
            .scheme__text Гарантируем, что вы получите лицевой счет на водоснабжение и канализацию

    .scheme.scheme_mod_1
      .row
        +b.col._sm_6
          .scheme__item.scheme__item_step_1
            .scheme__title Заявка
            .scheme__text Вы оставляете заявку или звоните нам по телефону
            .btn.btn_style_small.order Оставить заявку
        +b.col._sm_6
          .scheme__item.scheme__item_step_2
            .scheme__title Бесплатное обследование объекта
            .scheme__text Мы отправляем главного инженера на объект для выяснения подробностей
        +b.col._sm_6
          .scheme__item.scheme__item_step_3
            .scheme__title Заключение подрядного договора
            .scheme__text Мы формируем коммерческое предложение и составляем договор подряда
        +b.col._sm_6
          .scheme__item.scheme__item_step_4
            .scheme__title Предоставление документов
            .scheme__text Вы предоставляете нам все документы, необходимые для реализации проекта

        +b.col._sm_6
          .scheme__item.scheme__item_step_5
            .scheme__title Осуществление работ
            .scheme__text Проводим необходимые работы по проектированию и монтажу
        +b.col._sm_6
          .scheme__item.scheme__item_step_6
            .scheme__title Получение лицевого счета
            .scheme__text Гарантируем, что вы получите лицевой счет на водоснабжение и канализацию
  //- .container
  //-   .questions
  //-     .questions__title Оцените качество представленной информации на сайте: 
  //-     | Доступно ли передана информация по подключению к водоснабжению/канализации? 
  //-     br
  //-     .radio.radio_row
  //-       label.radio__item
  //-         input.radio__control(name='ok', type='radio' value="нет")
  //-         .radio__box
  //-         .radio__text нет
  //-       label.radio__item
  //-         input.radio__control(name='ok', type='radio' value="да")
  //-         .radio__box
  //-         .radio__text да

  //-     |Вы получили ответы на интересующие Вас вопросы?
  //-     br
  //-     .radio.radio_row
  //-       label.radio__item
  //-         input.radio__control(name='ok1', type='radio' value="нет")
  //-         .radio__box
  //-         .radio__text нет
  //-       label.radio__item
  //-         input.radio__control(name='ok1', type='radio' value="да")
  //-         .radio__box
  //-         .radio__text да
  //-     |Вы хотели бы доверить подключение инженерных сетей команде БК Инвент? 
  //-     .radio.radio_row
  //-       label.radio__item
  //-         input.radio__control(name='ok2', type='radio' value="нет")
  //-         .radio__box
  //-         .radio__text нет
  //-       label.radio__item
  //-         input.radio__control(name='ok2', type='radio' value="да")
  //-         .radio__box
  //-         .radio__text да
  //-     p(style="margin: 20px 0 10px 0;border-left: 4px solid #2b519e;padding-left: 10px;") Мы бы хотели предоставить Вам исчерпывающую информацию об инженерных сетях, но, к сожалению, весь наш опыт невозможно передать на одной онлайн-странице. <br>С Вами свяжется служба поддержки "БК Инвент", и Вы сможете задать все интересующие вопросы, ответы на которые Вы не получили на этой странице! <br>Консультация абсолютно бесплатна! 
  //-     .btn#questions Отправить!
  .map#map
  .footer
    .container
      .row
        +b.col_sm_4
          .footer__contact.footer__contact_type_adress Ростове-на-Дону,<br>ул. Текучева, 23, эт. 3
        +b.col_sm_4
          .footer__contact.footer__contact_type_call
            +b.phone-grup._footer 
              +e.phone.primegate-phone 8 (863) 303-38-33
              +e.text Пн.- пт. с 9:00 до 18:00<br>Сб. с 10:00 до 16:00
        +b.col_sm_4
          .footer__contact.footer__contact_type_mail order@bk-invent.ru


  .modal#modal__callme
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .modal__title Наши менеджеры свяжутся с Вами в ближайшее время
            +b.form
              form.ajax
                input(placeholder='Введите Ваше имя' name='name').input.input_type_name
                input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
                input(type="hidden" name="order" value="ВК под ключ. Заказ звонка")
                input(type='hidden', name='url', value!="<?echo $url?>")
                input(type='hidden', name='utm', value!="<?echo $utm?>")
                input(type='hidden', name='utm_term', value!="<?echo $utm_term?>")
                input(type='hidden', name='utm_campaign', value!="<?echo $utm_campaign?>")
                input(type='hidden', name='utm_source', value!="<?echo $utm_source?>")
                input(type='hidden', name='utm_medium', value!="<?echo $utm_medium?>")
                input(type='hidden', name='utm_content', value!="<?echo $utm_content?>")
                input(type='submit' value='Заказать звонок').form__btn

  .modal#modal__order
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .modal__title Получить обратную связь
            form.ajax
              input(placeholder='Введите Ваше имя' name='name').input.input_type_name
              input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
              input(placeholder='Введите Ваш E-mail' name='email').input.input_type_email
              input(type="hidden" name="order" value="ВК под ключ. Консультация")
              input(type='hidden', name='url', value!="<?echo $url?>")
              input(type='hidden', name='comment', value="", id="comment")
              input(type='hidden', name='utm', value!="<?echo $utm?>")
              input(type='hidden', name='utm_term', value!="<?echo $utm_term?>")
              input(type='hidden', name='utm_campaign', value!="<?echo $utm_campaign?>")
              input(type='hidden', name='utm_source', value!="<?echo $utm_source?>")
              input(type='hidden', name='utm_medium', value!="<?echo $utm_medium?>")
              input(type='hidden', name='utm_content', value!="<?echo $utm_content?>")
              input(type='submit' value='Отправить').form__btn

  .modal#modal__ok
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .modal__title <b>Ваша заявка принята</b> <br>Наш специалист свяжется с вами в течении 20 минут

  .modal#modal__download
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .modal__title Документы можно скачать по ссылке
            a(href="http://lp.bk-invent.ru/docs.pdf" target="_blank").btn Скачать

  .modal.modal_type_zoom#modal__zoom
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            img(src="")#zoom__img

  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  //build:js js/all.js
  script(src="node_modules/jquery/dist/jquery.min.js")
  script(src="node_modules/waypoints/lib/jquery.waypoints.min.js")
  //- script(src="node_modules/bxslider/dist/jquery.bxslider.min.js")
  script(src="node_modules/jquery-validation/dist/jquery.validate.min.js")
  script(src="tmp/index.js")
  //endbuild
  script(type='text/javascript').
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
      ym(51499229, "init", {
      id:51499229,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
      });
  noscript
    div
      img(src='https://mc.yandex.ru/watch/51499229', style='position:absolute; left:-9999px;', alt='')
  script.
      (function(w, d, s, h, id) {    w.roistatProjectId = id; w.roistatHost = h;    var p = d.location.protocol == "https:" ? "https://" : "http://";    var u = /^.*roistat_visit=[^;]+(.*)?$/.test(d.cookie) ? "/dist/module.js" : "/api/site/1.0/"+id+"/init";    var js = d.createElement(s); js.charset="UTF-8"; js.async = 1; js.src = p+h+u; var js2 = d.getElementsByTagName(s)[0]; js2.parentNode.insertBefore(js, js2);})(window, document, 'script', 'cloud.roistat.com', 'd146057ffd124300f00ff5e37179672c');
  script(type='text/javascript').
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(53737453, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true });
  noscript
    div
      img(src='https://mc.yandex.ru/watch/53737453', style='position:absolute; left:-9999px;', alt='')

