 @import "utilities/reset.styl"
 @import "mixins/flex-grid.styl"
 
 @font-face
     font-family 'Neo Sans Pro'
     src url('../fonts/NeoSansPro-Bold.eot')
     src local('Neo Sans Pro Bold'), local('NeoSansPro-Bold'),
        url('../fonts/NeoSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansPro-Bold.woff') format('woff'),
        url('../fonts/NeoSansPro-Bold.ttf') format('truetype')
     font-weight bold
     font-style normal

 @font-face
     font-family 'Neo Sans Pro'
     src url('../fonts/NeoSansPro-Medium.eot')
     src local('Neo Sans Pro Medium'), local('NeoSansPro-Medium'),
        url('../fonts/NeoSansPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansPro-Medium.woff') format('woff'),
        url('../fonts/NeoSansPro-Medium.ttf') format('truetype')
     font-weight 500
     font-style normal

 @font-face
     font-family 'Neo Sans Pro'
     src url('../fonts/NeoSansPro-LightItalic.eot')
     src local('Neo Sans Pro Light Italic'), local('NeoSansPro-LightItalic'),
        url('../fonts/NeoSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansPro-LightItalic.woff') format('woff'),
        url('../fonts/NeoSansPro-LightItalic.ttf') format('truetype')
     font-weight 300
     font-style italic

 @font-face
     font-family 'Neo Sans Pro'
     src url('../fonts/NeoSansPro-Regular.eot')
     src local('Neo Sans Pro'), local('NeoSansPro-Regular'),
        url('../fonts/NeoSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansPro-Regular.woff') format('woff'),
        url('../fonts/NeoSansPro-Regular.ttf') format('truetype')
     font-weight normal
     font-style normal

 @font-face
     font-family 'Neo Sans Pro Ultra'
     src url('../fonts/NeoSansPro-Ultra.eot')
     src local('Neo Sans Pro Ultra'), local('NeoSansPro-Ultra'),
        url('../fonts/NeoSansPro-Ultra.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansPro-Ultra.woff') format('woff'),
        url('../fonts/NeoSansPro-Ultra.ttf') format('truetype')
     font-weight 900
     font-style normal

 @font-face
     font-family 'Neo Sans Pro'
     src url('../fonts/NeoSansPro-BoldItalic.eot')
     src local('Neo Sans Pro Bold Italic'), local('NeoSansPro-BoldItalic'),
        url('../fonts/NeoSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansPro-BoldItalic.woff') format('woff'),
        url('../fonts/NeoSansPro-BoldItalic.ttf') format('truetype')
     font-weight bold
     font-style italic

 @font-face
     font-family 'Neo Sans Pro'
     src url('../fonts/NeoSansPro-Light.eot')
     src local('Neo Sans Pro Light'), local('NeoSansPro-Light'),
        url('../fonts/NeoSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansPro-Light.woff') format('woff'),
        url('../fonts/NeoSansPro-Light.ttf') format('truetype')
     font-weight 300
     font-style normal

 @font-face
     font-family 'Neo Sans Pro'
     src url('../fonts/NeoSansPro-Italic.eot')
     src local('Neo Sans Pro Italic'), local('NeoSansPro-Italic'),
        url('../fonts/NeoSansPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansPro-Italic.woff') format('woff'),
        url('../fonts/NeoSansPro-Italic.ttf') format('truetype')
     font-weight normal
     font-style italic


.page
    font-family 'Neo Sans Pro'
    background #fff
    font-weight normal
    font-style normal
    overflow-x hidden
.loader
    position fixed
    width 100%
    height 100%
    background-color #fff
    left 0
    top 0
    z-index 99999
    display none 
    &_active
        display block
    &__text
        font-size 14px
        line-height 1em
        position absolute
        left 50%
        width 100px 
        text-align center
        margin-left -50px
        bottom 20px
        color #828282
    &__spinner 
        background url('../img/logo.png')
        background-repeat no-repeat
        background-size 80px
        width 100px
        height 100px
        background-position center
        background-size 90px
        background-color #fff
        position absolute
        top 50%
        left 50%
        margin-top -50px
        margin-left -50px
        animation sk-scaleout 2.0s infinite ease-in-out
        
@keyframes sk-scaleout
    0%
        transform scale(0)
        
    100%
        transform scale(1.0)
        opacity 0
    
.row
    make-row()
.col
    make-col-ready()
    make-col('xs') //Extra small devices 
    @media (min-width 768px)
        make-col('sm') //Small devices Tablets 
    @media (min-width 992px)
        make-col('md') //Medium devices Desktops 
    @media (min-width 1200px)
        make-col('lg') //Large devices Desktops 

.container
    padding 0 10px
    @media (min-width 1200px)
        padding 0
    max-width 1200px
    margin auto
    width 100%
    
.top
    background-color rgba(255, 255, 255, 1)
    position absolute
    width 100%
    height 80px

.logo
    &__img
        padding-top 5px
        display inline-block
        float left
    &__text
        font-size 14px
        color #000003
        text-transform uppercase
        line-height 1.357
        text-align left
        padding 20px
        display NONE
        @media (min-width 650px)
            display inline-block
  
.phone-grup
    text-align right
    line-height 1
    margin-top 18px
    display inline-block
    @media (min-width 790px)
        float left
    float right
    &_footer
        text-align center
        margin-top 0
    &__phone
        font-size 18px
        color #302d36
        font-weight 500
    &__text
        margin-top 13px
        font-size 12px

.callme
    @media (min-width 790px)
        display block
    display none
    user-select none
    box-shadow 0px 2px 0px 0px #2e4693
    height 33px
    font-size 14px
    color #fff
    background #5472d2 linear-gradient(0deg, #5472d2, #5b7ce5)
    background-image url('../img/callme__icon.png')
    background-repeat no-repeat
    background-position 5px center
    border-radius 100px
    text-align center
    line-height 33px
    float right
    margin-top 20px
    margin-left 50px
    position relative
    top 0
    cursor pointer
    transition all .1s linear
    padding 0 20px 0 40px
    &:active
        top 2px
        box-shadow 0px 0px 0px 0px #2e4693

.header
    width 100%
    // padding 200px 0
    text-align center
    box-shadow inset 0px 2px 18px 0px rgba(46, 43, 43, 0.63)
    
    background-color #ddd
    background-image  linear-gradient(135deg, rgba(84,114,210,.4) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(70, 70, 70, 0.6)), url('../img/header-img.png'), url('../img/header-bg.jpg')
    // background-position top right 10px, bottom left
    background-repeat no-repeat, no-repeat, repeat, no-repeat
    background-size auto, auto, auto, cover
    background-attachment scroll, scroll , fixed , fixed
    height auto
    height 100vh
    min-height 500px
    // display fixed
    display flex
    justify-content center    
    flex-direction column

.offer
    text-align left !important
    &__text
        @media (min-width 1000px)
            margin-bottom 100px
            font-size 40px
        margin-bottom 50px
        font-size 20px
        color #fff
        line-height 1.55
        text-shadow 0px 0px 10px rgba(7, 7, 7, 0.7)
        width 100%
        span
            text-transform uppercase
            @media (min-width 1000px)
                font-size 45px
            font-size 25px
    &__action
        @media (min-width 1000px)
            font-size 18px
        font-size 16px
        line-height 1.2em
        padding 15px
        border-radius 4px
        //border 2px solid #fff
        color #fff
        display inline-block
        text-align center
        background-color #db4d4d 
        background-image url('../img/offer__action.png'), linear-gradient(0deg, #db4d4d, #e05a5a)
        background-repeat  no-repeat, no-repeat
        background-position right 10px center, center
        background-size 30px, auto
        cursor pointer
        transition all .1s linear
        box-shadow  0px 2px 18px 0px rgba(171, 7, 46, 0.42)
        position relative
        padding-right 50px
        user-select none
        top 0 
        &:hover
            box-shadow  0px 2px 22px 0px rgba(46, 43, 43, 0.63)
        &:active
            // background #db4d4d linear-gradient(0deg, #e05a5a, #db4d4d)
            top 2px       
    
.btn
    user-select none
    box-shadow 0px 3px 0px 0px #950b0b
    height 40px
    font-size 16px
    color #fff
    background #db4d4d linear-gradient(0deg, #db4d4d, #e05a5a)
    border-radius 100px
    text-align center
    line-height 40px
    display inline-block
    position relative
    top 0
    cursor pointer
    transition all .1s linear
    padding 0 25px
    margin auto
    display table
    &:active
        top 3px
        box-shadow 0px 0px 0px 0px #950b0b
    &_style_blue
        background #4273d6 linear-gradient(0deg, #4273d6, #477de9)
        box-shadow 0px 3px 0px 0px #174497
    &_style_small
        font-size 12px !important
        line-height 28px
        height 28px
        border-radius 4px
        padding 0 15px
        margin-bottom 10px
        float left

//ЗАМЕР
.froze
    width 100%
    background #e2e2e2
    padding 40px 0
    &__container
        display table
        margin auto
    &__action
        @media (min-width 790px)
            font-size 22px
        font-size 19px
        line-height 1.2em
        color #000
        text-transform uppercase
    &__description
        margin-top 10px
        @media (min-width 790px)
            margin-bottom 40px
            font-size 18px
        margin-bottom 20px
        font-size 14px
        line-height 1.2em
        color #000
    & .input
        @media (min-width 1015px)
            width 310px
            margin-right 20px
        width 100%
        margin-bottom 10px
    & .form__btn
        @media (min-width 1015px)
            display inline-block !important
    
.input
    font-size 16px
    color #545454
    border-radius 4px 
    border 1px solid #bcb8b8
    height 45px
    outline 0
    padding 0 40px 0 20px
    width 100%
    background-color #fff
    background-repeat no-repeat
    background-position right 10px center  
    &::placeholder
        color #616161
    &_type_name
        background-image url('../img/input_type_name.png')
    &_type_phone
        background-image url('../img/input_type_phone.png')
    &_type_email
        background-image url('../img/input_type_email.png')
    
    &_error
        border-color #fc4e4e
        &::placeholder
            color #ff5959
    
    &_ok
        border-color #5a9c38
        color #57ad21
.form
    &__btn
        font-size 16px
        color #fff
        border-radius 4px
        background-color #fc4c4c
        background-image linear-gradient( 0deg, #fc4c4c, #ff5959)
        box-shadow 0px 3px 0px 0px #af0303
        width auto
        height 43px
        line-height 43px
        user-select none
        text-align center
        display block
        position relative
        top 0
        cursor pointer
        transition all .1s linear
        padding 0 25px
        &:active
            top 3px
            box-shadow 0px 0px 0px 0px #af0303

//ТРИГЕРЫ
.triggers
    width 100%
    background #fff url('../img/triggers-bg.jpg')
    background-repeat no-repeat
    background-size cover
    background-attachment fixed
    box-shadow inset 0px 1px 30px 0px rgba(63, 62, 62, 0.6)
    padding 40px 0px 70px
    text-align center
    &__text
        font-size 17px 
        line-height 1.3em
        color #000
    &__img
        margin 60px 0 10px
        

.title
    position relative
    margin 40px 0
    &__wrap
        &:before
            @media (min-width 550px)
                display block
            display none
            content " "
            position absolute
            width 100%
            height 2px
            background #706f6f
            top calc(50% - 1px)
            left 0
    &__text
        font-size 28px
        line-height 1.2em
        background #fff
        padding 0 20px
        text-align center
        background #fff
        margin auto
        display table
        position relative
    &:before
    &:after 
        @media (min-width 550px)
            display block
        display none
        content " "
        position absolute
        width 14px
        height 14px
        background #706f6f
        border-radius 20px
        top calc(50% - 7px)
    &:before
        left 0
    &:after 
        right 0
         

//ТАБЫ - Этапы подключения
.tabs
    max-width 690px
    margin auto
    ul, ol
        padding-left 30px
    &__item
        margin-bottom 10px
        &_active
            .tabs__arrow
                transform rotate(180deg) !important
            .progress-bar __pace
                transition none
                //transition-delay 0.5s
    &__title
        color #fff
        line-height 1.2em
        font-size 16px
        background #477be6
        border-radius 5px
        padding 10px 20px 10px 50px
        position relative
        cursor pointer
        z-index 10
    &__number
        font-size 16px
        text-align center
        line-height 24px
        color #e1e3ed
        width 24px
        height 24px
        background #2b5ab3
        border-radius 30px
        position absolute
        top calc(50% - 12px)
        left 10px
        transition all .5s linear
    &__arrow
        background url('../img/tabs__number.png') no-repeat center
        height 13px
        width 24px
        position absolute
        top calc(50% - 7px)
        right 10px
        transition all .5s linear
    &__text
        font-size 14px 
        line-height 1.8em
        color #282828
        border-radius 5px
        border 1px solid #e0e0e0
        padding 20px 20px 15px 20px
        position relative
        top -10px
        margin-bottom -10px
        display none 
        

.progress-bar
    width 100%
    height 14px
    box-shadow inset 0px 0px 5px 0px rgba(0, 0, 0, 0.35)
    border-radius 20px
    color #d1d1d1
    margin-top 40px
    position relative 
    &__pace
        width 0%
        height 14px
        border-radius 20px
        position absolute
        background-image linear-gradient( 0deg, rgb(71,125,233) 0%, rgb(66,115,214) 100%)
        transition all 1s linear
        // transition-delay 0.5s
    &__interest
        font-size 11px 
        color #282828
        line-height 1em
        position absolute
        right 0
        top -20px

// ДОКУМЕНИЫ
.docs
    margin-bottom 50px
    &__title
        font-size 18px
        color #000
        line-height 1.2em
        text-align center
        @media (min-width 1200px)
            margin 40px 0
        margin 0px 0 20px 0
    &__list
        max-width 560px
        font-size 16px
        line-height 1.4em
        color #565656
        margin auto
        background url('../img/docs-bg.jpg') no-repeat center right
        //background-size 100%
        padding-left 25px
        &
            li
                margin-bottom 10px
    
.wall
    max-width 390px
    background #d4d4d4
    border-radius 4px
    margin auto
    padding 40px
    display table
    &__title
        font-size 18px
        line-height 1.4em
        text-align center
        color #010101
        margin-bottom 40px
    & .input
        margin-bottom 10px
    & .form__btn
        margin-top 20px
        background  url('../img/pdf.png') no-repeat right 10px center, linear-gradient( 0deg, #fc4c4c, #ff5959)
        margin-bottom 20px
    &_docs
        @media (min-width 1200px)
            margin-top 100px
        margin-top 20px
     
.reviews
    position relative
    width 100%
    background #fff url('../img/reviews-bg.jpg') no-repeat
    background-size cover
    padding 40px 0 80px 0
    box-shadow inset 0px 2px 18px 0px rgba(0, 0, 0, 0.11)
    margin 60px 0
    &__title
        font-size 28px 
        line-height 1.2em
        color #000
        text-align center
        margin-bottom 40px
    &__name
        font-size 17px 
        line-height 1em
        color #000
        font-weight 500
        margin-bottom 20px
    &__text
        font-size 14px
        line-height 1.6em
        color #1b1b1b
    &__gallery
        padding-right 30px
    &__imgs
        display flex
        justify-content center
        flex-direction row
        .reviews__img:nth-last-child(1)
             margin-right 0px
    &__img
        // max-width 465px
        width 100%
        //float left
        line-height 0
        &_size_small
            // width 33%
            // max-width 154px
            margin-right 10px
            margin-top 10px 
        img
            width 100%
            
//slider
.bx-pager
    text-align center
    position relative 
    bottom -50px
.bx-pager-item
    display inline-block
.bx-pager-link
    border 2px solid #929292
    width 18px 
    height 18px
    border-radius 20px
    font-size 0
    line-height 0
    display block
    background #fff
    &.active
        background #929292
    float left
    margin 10px
.bx-prev    
.bx-next
    display none
    @media (min-width 1080px)
        display block
    width 40px
    height 76px
    position absolute
    top calc(50% - 38px)

.bx-prev
    background url('../img/bx-prev.png')   
    left -80px 
.bx-next
    background url('../img/bx-next.png')
    right -80px
    
.logos
    //@media (min-width 770px)
    display flex
    //display none
    justify-content center
    flex-direction column
    @media (min-width 810px)
        margin 20px 0 60px 0
    margin -20px 0 40px 0
    text-align center
    img
        width calc(100vh / 8)
        height calc(100vh / 8)
        margin 10px
        @media (min-width 810px)
            width 150px
            height 150px
            margin 40px
    &__grup
        //display flex
        //justify-content  space-between
        width 100%
        //flex-direction row
        // img
        //     box-flex 1
        //     flex 1 1 auto
            
.start-animate
    opacity 0
.finish-animate
    opacity 1

.scheme
    margin 60px 0
    display none
    @media (min-width 1200px)
        display block
     
    

    &__item
        // transition all 5s linear
        border-radius 10px 
        border 3px solid #d3dfe0
        padding 20px 30px
        display table
        position relative
        min-height 160px
        &::after
            content " "
            position absolute
            display block
            width 30px
            height 30px
            border-right 3px solid #d3dfe0
            border-bottom 3px solid #d3dfe0
            transform rotate(45deg)
            bottom -17px
            left calc(50% - 15px)
            background #fff
        &::before
            font-size 16px
            line-height 40px
            width 40px
            height 40px
            background linear-gradient( 0deg, rgb(66,115,214) 0%, rgb(71,125,233) 100%)
            border-radius 100%
            border 6px solid #fff
            content " "
            position absolute
            bottom -70px
            left calc(50% - 20px)
            text-align center
            line-height 28px
            color #fff
            font-weight 500

        &_step
            &_1
                max-width 225px
                &::before
                    content "1"
            &_2
                max-width 320px
                margin auto
                &::before
                    content "2"
            &_3
                max-width 320px
                margin auto
                &::before
                    content "3"
            &_4
                margin auto
                max-width 290px
                &::before
                    content "4"
            &_5
                max-width 245px
                &::before
                    content "5"
            &_6
                max-width 260px
                float right
                &::before
                    content "6"
            &_2
            &_4
            &_6
                padding-top 25px
                min-height 140px
                &::after
                    bottom 0
                    top -17px
                    transform rotate(-135deg)
                &::before
                    bottom 0px
                    top -70px
    &_mod_1
        display block  
        @media (min-width 1200px)
            display none
        & .scheme__item_step
            &_1
            &_2
            &_3
            &_4
            &_5
            &_6
                float none !important
                width 100%
                max-width none
                padding 10px
                padding-top 20px
                padding-bottom 20px
                min-height 150px
                margin-bottom 20px 
                &::after
                    display none !important
                &::before
                    // border 0px
                    // width 28px
                    // height 28px
                    top -18px
                    right 0
                    left calc(100% - 28px) !important
                    bottom calc(100%) !important
            &_1
                &::before
                    content "1"
            &_2
                &::before
                    content "2"
            &_3
                &::before
                    content "3"
            &_4
                &::before
                    content "4"
            &_5
                &::before
                    content "5"
            &_6
                &::before
                    content "6"
    &__title
        font-size 14px 
        color #fff
        line-height 1em
        background rgb(66,115,214) linear-gradient( 0deg, rgb(66,115,214) 0%, rgb(71,125,233) 100%);
        padding 4px 8px 
        display inline-block
        border-radius 40px
        margin-bottom 10px
    &__text
        font-size 12px
        line-height 1.4em
        color #454545
        margin-bottom 10px
    // &__number
    &__progress-bar
        background linear-gradient( 90deg, rgba(210,223,224,0.25098) 0%, rgba(71,123,231,0.25) 0%, rgb(72,124,233) 100%);
        height 16px
        width 100%
        border-radius 20px
        margin 40px 0
        
.questions
    font-size 16px 
    color #000
    line-height 1.2em
    text-align center
    margin-bottom 40px
    margin-top 100px
    &__title
        font-size 25px
        padding-bottom 15px
        
.map
    margin-top 80px
    border-top 3px solid #d8dee5
    width 100%
    height 400px

.footer
    background #d8dee5
    width 100%
    padding 10px 0
    text-align center
    font-size 16px
    line-height 1.2em
    color #5d5c5c
    &__contact
        min-height 80px
        display flex
        justify-content center    
        flex-direction column
        &_type
            &_adress
                background url('../img/contacts__adress.png') no-repeat center
            &_mail
                background url('../img/contacts__mail.png') no-repeat center
            &_call
                background url('../img/contacts__call.png') no-repeat center
                
.zoom
    position relative
    line-height 0
    cursor pointer
    img
        width 100%
    &__icon
        position absolute
        display block
        width 100%
        height 100%
        z-index 10
        background rgba(237,237,237, .45) url('../img/zoom.png') no-repeat center
        top 0
        left 0
        opacity 0
        transition all .2s linear
        &:hover
            opacity 1

.close
    background url('../img/close.png') no-repeat center
    width 25px
    height 25px
                
.modal
    position fixed
    left 0
    top 0
    height 100%
    width 100%
    // opacity 0
    visibility hidden
    z-index 190
    transition visibility 0ms 300ms
    &__wrapper
        display flex
        overflow auto
        //white-space nowrap
        position absolute
        left 0
        top 0
        height 100%
        width 100%
        z-index 1000
        transition opacity 300ms 0ms, visibility 0ms 300ms
        opacity 0
        visibility hidden
        background-color rgba(0, 0, 0, 0.78) 
        
    &::after
        display inline-block
        vertical-align middle
        width 0
        height 100%
        content ''

    &_visible
        // opacity 1
        visibility visible

    &__dialog
        display inline-table
        vertical-align middle
        z-index 100
        margin auto
        transition transform 300ms 0ms
        transform translateY(-10px)
        width 90%
        max-width 400px
        min-width 300px
        position relative
        background #d4d4d4
        border-radius 4px
        padding 40px 30px
        height auto
        & 
            .input
                margin-bottom 15px
            img
                max-width 100%
            .form__btn
                width 100%
                margin-top 15px
        
            
    &_type_zoom
        .modal__dialog
            background #fff
            width auto
            max-width 90%
            min-width 300px
            padding 40px 20px 20px 20px
            line-height 0
            margin 20px auto
                        
    &__title
        font-size 18px
        line-height 1.4em
        text-align center
        color #010101
        margin-bottom 20px
        margin-top 10px

    &__close
        cursor pointer
        position absolute
        right 10px
        top 10px
        display inline-block
        z-index 1050 
        
    &.modal_visible
        .modal__wrapper
            transition opacity 300ms 0ms, visibility 0ms 0ms
            opacity 1
            visibility visible
        .modal__dialog
            transition transform 300ms 0ms
            transform translateY(0)

.modal-open
    overflow hidden

#doc
    img
        margin-bottom 20px