 @import "utilities/reset.styl"
 @import "mixins/flex-grid.styl"
 
 @font-face
     font-family 'Neo Sans Pro'
     src url('../fonts/NeoSansPro-Bold.eot')
     src local('Neo Sans Pro Bold'), local('NeoSansPro-Bold'),
        url('../fonts/NeoSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansPro-Bold.woff') format('woff'),
        url('../fonts/NeoSansPro-Bold.ttf') format('truetype')
     font-weight bold
     font-style normal

 @font-face
     font-family 'Neo Sans Pro'
     src url('../fonts/NeoSansPro-Medium.eot')
     src local('Neo Sans Pro Medium'), local('NeoSansPro-Medium'),
        url('../fonts/NeoSansPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansPro-Medium.woff') format('woff'),
        url('../fonts/NeoSansPro-Medium.ttf') format('truetype')
     font-weight 500
     font-style normal

 @font-face
     font-family 'Neo Sans Pro'
     src url('../fonts/NeoSansPro-LightItalic.eot')
     src local('Neo Sans Pro Light Italic'), local('NeoSansPro-LightItalic'),
        url('../fonts/NeoSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansPro-LightItalic.woff') format('woff'),
        url('../fonts/NeoSansPro-LightItalic.ttf') format('truetype')
     font-weight 300
     font-style italic

 @font-face
     font-family 'Neo Sans Pro'
     src url('../fonts/NeoSansPro-Regular.eot')
     src local('Neo Sans Pro'), local('NeoSansPro-Regular'),
        url('../fonts/NeoSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansPro-Regular.woff') format('woff'),
        url('../fonts/NeoSansPro-Regular.ttf') format('truetype')
     font-weight normal
     font-style normal

 @font-face
     font-family 'Neo Sans Pro Ultra'
     src url('../fonts/NeoSansPro-Ultra.eot')
     src local('Neo Sans Pro Ultra'), local('NeoSansPro-Ultra'),
        url('../fonts/NeoSansPro-Ultra.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansPro-Ultra.woff') format('woff'),
        url('../fonts/NeoSansPro-Ultra.ttf') format('truetype')
     font-weight 900
     font-style normal

 @font-face
     font-family 'Neo Sans Pro'
     src url('../fonts/NeoSansPro-BoldItalic.eot')
     src local('Neo Sans Pro Bold Italic'), local('NeoSansPro-BoldItalic'),
        url('../fonts/NeoSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansPro-BoldItalic.woff') format('woff'),
        url('../fonts/NeoSansPro-BoldItalic.ttf') format('truetype')
     font-weight bold
     font-style italic

 @font-face
     font-family 'Neo Sans Pro'
     src url('../fonts/NeoSansPro-Light.eot')
     src local('Neo Sans Pro Light'), local('NeoSansPro-Light'),
        url('../fonts/NeoSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansPro-Light.woff') format('woff'),
        url('../fonts/NeoSansPro-Light.ttf') format('truetype')
     font-weight 300
     font-style normal

 @font-face
     font-family 'Neo Sans Pro'
     src url('../fonts/NeoSansPro-Italic.eot')
     src local('Neo Sans Pro Italic'), local('NeoSansPro-Italic'),
        url('../fonts/NeoSansPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansPro-Italic.woff') format('woff'),
        url('../fonts/NeoSansPro-Italic.ttf') format('truetype')
     font-weight normal
     font-style italic

.page
    font-family 'Neo Sans Pro'
    background #fff
    font-weight normal
    font-style normal
.loader
    position fixed
    width 100%
    height 100%
    background-color #fff
    left 0
    top 0
    z-index 99999
    display none 
    &_active
        display block
    &__text
        font-size 14px
        line-height 1em
        position absolute
        left 50%
        width 100px 
        text-align center
        margin-left -50px
        bottom 20px
        color #828282
    &__spinner 
        background url('../img/logo.png')
        background-repeat no-repeat
        background-size 80px
        width 100px
        height 100px
        background-position center
        background-size 90px
        background-color #fff
        position absolute
        top 50%
        left 50%
        margin-top -50px
        margin-left -50px
        animation sk-scaleout 2.0s infinite ease-in-out
        
@keyframes sk-scaleout
    0%
        transform scale(0)
        
    100%
        transform scale(1.0)
        opacity 0



load load_page
    
.row
    make-row()
.col
    make-col-ready()
    make-col('xs') //Extra small devices 
    @media (min-width 768px)
        make-col('sm') //Small devices Tablets 
    @media (min-width 992px)
        make-col('md') //Medium devices Desktops 
    @media (min-width 1200px)
        make-col('lg') //Large devices Desktops 

.container
    max-width 1200px
    margin auto
    width 100%
    
.top
    background-color rgba(255, 255, 255, .741)
    position absolute
    width 100%
    height 80px

.logo
    &__img
        padding-top 5px
        display inline-block
        float left
    &__text
          font-size 14px
          color #000003
          text-transform uppercase
          line-height 1.357
          text-align left
          display inline-block
          padding 20px
  
.phone-grup
    text-align right
    line-height 1
    margin-top 18px
    &__phone
        font-size 18px
        color #302d36
        font-weight 500
    &__text
        margin-top 13px
        font-size 12px

.callme
    user-select none
    box-shadow 0px 2px 0px 0px #2e4693
    height 33px
    font-size 14px
    color #fff
    background #5472d2 linear-gradient(0deg, #5472d2, #5b7ce5)
    background-image url('../img/callme__icon.png')
    background-repeat no-repeat
    background-position 5px center
    border-radius 100px
    text-align center
    line-height 33px
    float right
    margin-top 20px
    position relative
    top 0
    cursor pointer
    transition all .1s linear
    padding 0 20px 0 40px
    &:active
        top 2px
        box-shadow 0px 0px 0px 0px #2e4693

.header
    width 100%
    // padding 200px 0
    text-align center
    box-shadow inset 0px 2px 18px 0px rgba(46, 43, 43, 0.63)
    
    background-color #ddd
    background-image  linear-gradient(0deg, rgba(0, 0, 0, 0.40), rgba(111, 111, 111, 0.40)), url('../img/header-img.png'), url('../img/header-bg.jpg')
    // background-position top right 10px, bottom left
    background-repeat no-repeat, repeat, no-repeat
    background-size auto, auto, cover
    background-attachment scroll , scroll , fixed
    height auto
    height 100vh
    min-height 500px
    // display fixed
    display flex
    justify-content center    
    flex-direction column

.offer
    font-size 40px
    color #fff
    text-transform uppercase
    line-height 1.55
    text-align center
    text-shadow 0px 0px 10px rgba(7, 7, 7, 0.7)
    width 100%
    text-align center
    margin-bottom 50px
    
.btn
    user-select none
    box-shadow 0px 3px 0px 0px #950b0b
    height 40px
    font-size 16px
    color #fff
    background #db4d4d linear-gradient(0deg, #db4d4d, #e05a5a)
    border-radius 100px
    text-align center
    line-height 40px
    display inline-block
    position relative
    top 0
    cursor pointer
    transition all .1s linear
    padding 0 25px
    margin auto
    display table
    &:active
        top 3px
        box-shadow 0px 0px 0px 0px #950b0b
    &_style_blue
        background #4273d6 linear-gradient(0deg, #4273d6, #477de9)
        box-shadow 0px 3px 0px 0px #174497
         

//ЗАМЕР
.froze
    width 100%
    background #e2e2e2
    padding 40px 0
    &__container
        display table
        margin auto
    &__action
        font-size 22px
        line-height 1.2em
        color #000
        text-transform uppercase
    &__description
        margin-top 10px
        font-size 18px
        line-height 1.2em
        color #000
        margin-bottom 40px
    & .input
        width 310px !important
        margin-right 20px
    & .form__btn
        display inline-block !important
    
.input
    font-size 16px
    color #545454
    border-radius 4px 
    border 1px solid #bcb8b8
    height 45px
    outline 0
    padding 0 40px 0 20px
    width 100%
    background-color #fff
    background-repeat no-repeat
    background-position right 10px center  
    &::placeholder
        color #616161
    &_type_name
        background-image url('../img/input_type_name.png')
    &_type_phone
        background-image url('../img/input_type_phone.png')
    &_type_email
        background-image url('../img/input_type_email.png')
          
.form
    &__btn
        font-size 16px
        color #fff
        border-radius 4px
        background-color #fc4c4c
        background-image linear-gradient( 0deg, #fc4c4c, #ff5959)
        box-shadow 0px 3px 0px 0px #af0303
        width auto
        height 43px
        line-height 43px
        user-select none
        text-align center
        display block
        position relative
        top 0
        cursor pointer
        transition all .1s linear
        padding 0 25px
        &:active
            top 3px
            box-shadow 0px 0px 0px 0px #af0303

//ТРИГЕРЫ
.triggers
    width 100%
    background #fff url('../img/triggers-bg.jpg')
    background-repeat no-repeat
    background-size cover
    background-attachment fixed
    box-shadow inset 0px 1px 30px 0px rgba(63, 62, 62, 0.6)
    padding 40px 0px 70px
    text-align center
    &__text
        font-size 17px 
        line-height 1.3em
        color #000
    &__img
        margin 60px 0 10px
        

.title
    position relative
    margin 40px 0
    &__wrap
        &:before
            content " "
            position absolute
            width 100%
            height 2px
            background #706f6f
            display block
            top calc(50% - 1px)
            left 0
    &__text
        font-size 28px
        line-height 1.2em
        background #fff
        padding 0 20px
        text-align center
        background #fff
        margin auto
        display table
        position relative
    &:before
    &:after 
        content " "
        position absolute
        width 14px
        height 14px
        background #706f6f
        border-radius 20px
        display block
        top calc(50% - 7px)
    &:before
        left 0
    &:after 
        right 0
         

//ТАБЫ - Этапы подключения
.tabs
    max-width 690px
    margin auto
    ul, ol
        padding-left 30px
    &__item
        margin-bottom 10px
        &_active
            .tabs__arrow
                transform rotate(180deg) !important
            .progress-bar __pace
                transition none
                //transition-delay 0.5s
    &__title
        color #fff
        line-height 1.2em
        font-size 16px
        background #477be6
        border-radius 5px
        padding 10px 20px 10px 50px
        position relative
        cursor pointer
        z-index 10
    &__number
        font-size 16px
        text-align center
        line-height 24px
        color #e1e3ed
        width 24px
        height 24px
        background #2b5ab3
        border-radius 30px
        position absolute
        top calc(50% - 12px)
        left 10px
        transition all .5s linear
    &__arrow
        background url('../img/tabs__number.png') no-repeat center
        height 13px
        width 24px
        position absolute
        top calc(50% - 7px)
        right 10px
        transition all .5s linear
    &__text
        font-size 14px 
        line-height 1.8em
        color #282828
        border-radius 5px
        border 1px solid #e0e0e0
        padding 20px 20px 15px 20px
        position relative
        top -10px
        margin-bottom -10px
        display none 
        

.progress-bar
    width 100%
    height 14px
    box-shadow inset 0px 0px 5px 0px rgba(0, 0, 0, 0.35)
    border-radius 20px
    color #d1d1d1
    margin-top 40px
    position relative 
    &__pace
        width 0%
        height 14px
        border-radius 20px
        position absolute
        background-image linear-gradient( 0deg, rgb(71,125,233) 0%, rgb(66,115,214) 100%)
        transition all 1s linear
        // transition-delay 0.5s
    &__interest
        font-size 11px 
        color #282828
        line-height 1em
        position absolute
        right 0
        top -20px

// ДОКУМЕНИЫ
.docs
    margin-bottom 50px
    &__title
        font-size 18px
        color #000
        line-height 1.2em
        text-align center
        margin 40px 0
    &__list
        max-width 560px
        font-size 16px
        line-height 1.4em
        color #565656
        margin auto
        background url('../img/docs-bg.jpg') no-repeat center right
        & li
            margin-bottom 10px
    
.wall
    max-width 390px
    background #d4d4d4
    border-radius 4px
    margin auto
    padding 40px
    display table
    &__title
        font-size 18px
        line-height 1.4em
        text-align center
        color #010101
        margin-bottom 40px
    & .input
        margin-bottom 10px
    & .form__btn
        margin-top 20px
        background  url('../img/pdf.png') no-repeat right 10px center, linear-gradient( 0deg, #fc4c4c, #ff5959)
        margin-bottom 20px
    &_docs
        margin-top 100px
        
.reviews
    position reviews
    width 100%
    background #fff url('../img/reviews-bg.jpg') no-repeat
    background-size cover
    padding 40px 0 80px 0
    box-shadow inset 0px 2px 18px 0px rgba(0, 0, 0, 0.11)
    &__title
        font-size 28px 
        line-height 1.2em
        color #000
        text-align center
        margin-bottom 40px
    &__name
        font-size 17px 
        line-height 1em
        color #000
        font-weight 500
    &__text
        font-size 14px
        line-height 1.2em
        color #444444
        
// .slider
.bx-pager
    text-align center
    position relative 
    bottom -50px
.bx-pager-item
    display inline-block
.bx-pager-link
    border 2px solid #929292
    width 18px 
    height 18px
    border-radius 20px
    font-size 0
    line-height 0
    display block
    background #fff
    &.active
        background #929292
    float left
    margin 10px
.bx-prev    
.bx-next
    width 40px
    height 76px
    position absolute
    top calc(50% - 38px)

.bx-prev
    background url('../img/bx-prev.png')   
    left -80px 
.bx-next
    background url('../img/bx-next.png')
    right -80px
    
        