include ../../node_modules/bemto.jade/bemto

<!DOCTYPE html>
html(lang="ru")
head
  meta(charset="UTF-8")
  title Document
  //build:css css/all.css
  link(rel="stylesheet", href="tmp/index.css")
  //endbuild
body.page
  .top
    .container
      .row
        +b.col_lg_4
          +b.logo
            +e.img
              img(src='img/logo.png')
            +e.text ПРОЕКТНО-СТРОИТЕЛЬНАЯ<br>КОМПАНИЯ
        +b.col_lg_6
          +b.phone-grup 
            +e.phone 8 (863) 308-45-38
            +e.text Пн.- пт. с 9:00 до 18:00
        +b.col_lg_2
          +b.callme Заказать звонок
  .header
    .offer Водопровод и канализация «под ключ» <br> в Ростове-на-Дону
    .btn Получить бесплатную консультацию

  .froze
    .container
      .froze__container
        .froze__action Запишитесь на бесплатный консультацию  инженера с опытом работы 6 лет
        .froze__description Заполните форму и представитель компании свяжется с вами в течении 40 минут
        +b.form
          input(placeholder='Введите ваше имя').input.input_type_name
          input(placeholder='Введите ваш телефон').input.input_type_phone
          +e.btn Оставить заявку на выезд инженера

  .triggers
    .container
      .row
        +b.col_lg_4
          img(src='img/triggers__img1.png').triggers__img
          .triggers__text Опыт работы<br>более 6 лет
        +b.col_lg_4
          img(src='img/triggers__img2.png').triggers__img
          .triggers__text Гарантия 24 месяца<br>на монтажные работы
        +b.col_lg_4
          img(src='img/triggers__img3.png').triggers__img
          .triggers__text Пдключение<br>за 3 месяца
        +b.col_lg_4
          img(src='img/triggers__img4.png').triggers__img
          .triggers__text Гарантия получения<br>лицевого счета
        +b.col_lg_4
          img(src='img/triggers__img5.png').triggers__img
          .triggers__text Применяем<br>сертифицированные<br>материалы
        +b.col_lg_4
          img(src='img/triggers__img6.png').triggers__img
          .triggers__text Цены ниже<br>среднерыночных<br> на 7-12%
  .container
    +b.title
      +e.wrap
        +e.text Этапы подключения
    +b.tabs
      +e.item._active
        +e.title
          +e.number 1
          |Сбор документов
          +e.arrow
        +e.text.  
          1. Правоустанавливающие документы<br>
          2. Топографическая съемка в масштабе 1:500 с указанием всем коммуникаций (наземных и одземных)<br>
          3. Баланс водопотребления и водоотведения подключаемого объекта<br>
          4. Ситуационный план
      +e.item
        +e.title
          +e.number 2
          |Получение технических условий
          +e.arrow
        +e.text.  
          1. Правоустанавливающие документы<br>
          2. Топографическая съемка в масштабе 1:500 с указанием всем коммуникаций (наземных и одземных)<br>
          3. Баланс водопотребления и водоотведения подключаемого объекта<br>
          4. Ситуационный план
      +e.item
        +e.title
          +e.number 3
          |Получение технических условий
          +e.arrow
        +e.text.  
          1. Правоустанавливающие документы<br>
          2. Топографическая съемка в масштабе 1:500 с указанием всем коммуникаций (наземных и одземных)<br>
          3. Баланс водопотребления и водоотведения подключаемого объекта<br>
          4. Ситуационный план

  .docs
    .container
      +b.title
        +e.wrap
          +e.text Какие документы понадобятся?
      .row
        +b.col_lg_7
          .docs__title Документы, изготавливаемые ООО «БК Инвент»
          ol.docs__list
            li Баланс водопотребления и водоотведения
            li Топографическая съемка (заверенная департаментом архитектуры и радостроительства г.Ростова-на-Дону)
            li Ситуационный план
            li Проект наружной сети, согласованный со всеми инстанциями
            li Схема организации дорожного движения с ГИБДД
            li Ордер на плановое (аварийное) разрытие
            li Акт на чистоту траншеи
            li Акт освидетельствования гидравлических испытаний
            li Акт освидетельствования скрытых работ
            li Акт дезинфекции и промывки
            li Протокол лабораторных исследований воды
            li Справка о благоустройстве территории
            li Исполнительная топографическая съемка (заверенная департаментом архитектуры и  градостроительства г.Ростова-на-Дону)
            li Паспорт водомера
        +b.col_lg_5
          +b.wall._docs
            +e.title Получить список необходимых <br>Вам документов
            +b.form
              input(placeholder='Введите Ваше имя').input.input_type_name
              input(placeholder='Введите Ваш телефон').input.input_type_phone
              input(placeholder='Введите Ваш E-mail').input.input_type_email
              +e.btn Скачать документ
  //build:js js/all.js
  script(src="../node_modules/jquery/dist/jquery.min.js")
  script(src="../node_modules/bxslider/dist/jquery.bxslider.min")
  script(src="tmp/index.js")
  //endbuild
    